################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Jenkins-Test/bin
/Jenkins-Test/obj
/Jenkins-Test/.vs/Jenkins-Test/config/applicationhost.config
